# Project Goals

* Import spreadsheet having multiple sheets holding state information of non operated wells for company
* Merge all sheets into unified table.
    * All sheets have similar data fields, but may vary by name, or duplicate columns holding identicical field information may have been added 
    *  This will result in a large, messy table, where multiple columns holding identical information will need to be merged
        * For example: A data sheet may have 4 different columns holding comments from 4 separate people, we would like to merge this into one column, "Comments"

In [2]:
import pandas as pd
import numpy as np
import re
import pdb

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
pd.set_option('precision', 2)

## Read In Data

In [3]:
workbook = pd.ExcelFile('Unclean Energynet OBO Well List.xlsx')
sheetNames = workbook.sheet_names
sheetNames

['Texas',
 'New Mexico',
 'Oklahoma',
 'Mississippi',
 'Louisiana',
 'Alabama',
 'Arkansas',
 'North Dakota',
 'Montana',
 'Michigan',
 'NEBRASKA',
 'Kansas',
 'COLORADO',
 'Raccoon Bend Field',
 'WYOMING',
 'OHIO',
 'Sheet1',
 'Sheet2']

In [4]:
#cleaning up sheetnames not needed
sheetNames = list(filter(lambda x: "Rac" not in x, sheetNames))
sheetNames = list(filter(lambda x: "heet" not in x, sheetNames))

sheetNames

['Texas',
 'New Mexico',
 'Oklahoma',
 'Mississippi',
 'Louisiana',
 'Alabama',
 'Arkansas',
 'North Dakota',
 'Montana',
 'Michigan',
 'NEBRASKA',
 'Kansas',
 'COLORADO',
 'WYOMING',
 'OHIO']

### Adding each sheet's dataframe to list for concatenating

In [6]:
stateDFs = []

for name in sheetNames:
    tempDF = pd.read_excel('Unclean Energynet OBO Well List.xlsx', sheet_name=name)
    tempDF["ST"] = name.title() #adding column with respective state information
    stateDFs.append(tempDF)

In [7]:
stateDFs[0].head(5)

,COUNTY,FILE NAME,API Number,Mishaun Notes on Well,Anish’s Comments,SHRED,KEEP/STORE,Storage Downstairs,Offsite Storage,PROSPECT,OPERATOR,FILE TYPE,OWNER,INTEREST,REMARKS,OPEN DATE,OPEN MEMO TO OFFICE/FILE,CLOSED MEMO TO OFFICE/FILE,ST
0,DEWITT,HENSON GU #1,4212300017,Already decided to keep,Active,NaN,keep,NaN,NaN,NaN,ABRAXAS (Current Operator: Atlas),WELL,MPLP,NaN,NaN,NaN,NaN,NaN,Texas
1,DEWITT,HENSON GU #2H,NaN,Already decided to keep,Well not found,NaN,keep,NaN,NaN,NaN,ABRAXAS,WELL,MPLP,NaN,NaN,NaN,NaN,NaN,Texas
2,DEWITT,HENSON GU #3H,NaN,Already decided to keep,Well not found,NaN,keep,NaN,NaN,NaN,ABRAXAS,ORRI,MPLP,NaN,NaN,NaN,NaN,NaN,Texas
3,COLORADO,LUCKETT #1,4208932360,NaN,Inactive since 12/2011,NaN,NaN,NaN,NaN,NaN,ACOCK-ANAQUA (Current Operator: Magnum Producing),LAND / WELL / LOG,R & R,NaN,OPERATED BY MAGNUM EFFECTIVE 7/09,NaN,NaN,NaN,Texas
4,JEFFERSON,"PETKOVSEK, LOLIA. ET AL #1",4224532445,NaN,Active,NaN,NaN,NaN,NaN,NaN,ALEGRE ENERGY (Current Op: S&S),WELL,MPLP,NaN,NaN,7/1/2012 km,Aspect Former Operator,NaN,Texas

## Merging all sheets together
### Append Each State's Table on Top of Each Other - Creates Messy Super Table

In [8]:
mergedDF = pd.concat(stateDFs)

mergedDF.to_excel('Test_merges/testMerge1.xlsx') #exporting messy table to excel to take a look manually

mergedDF.shape
mergedDF.info()

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

(1421, 69)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1421 entries, 0 to 0
Data columns (total 69 columns):
API                           3 non-null float64
API Number                    328 non-null object
Anish’s Comments              123 non-null object
CLOSED MEMO TO OFFICE/FILE    11 non-null object
COUNTY                        1342 non-null object
Column1                       37 non-null object
Column10                      37 non-null object
Column11                      37 non-null object
Column12                      37 non-null object
Column13                      37 non-null object
Column14                      37 non-null object
Column15                      37 non-null object
Column16                      37 non-null object
Column17                      37 non-null object
Column18                      37 non-null object
Column2                       37 non-null object
Column3                       37 non-null object
Column4                       37 non-null object
Column5                       37 non-null object
Column6                       37 non-null object
Column7                       37 non-null object
Column8                       37 non-null object
Column9                       37 non-null object
Comments                      85 non-null object
FILE NAME                     1404 non-null object
FILE TYPE                     1345 non-null object
INTEREST                      178 non-null object
INTEREST %                    107 non-null object
KEEP                          21 non-null object
KEEP/STORE                    147 non-null object
Mishaun Notes on Well         178 non-null object
Notes on the Well             55 non-null object
OPEN DATE                     470 non-null object
OPEN MEMO TO OFFICE/FILE      51 non-null object
OPENED                        29 non-null object
OPERATOR                      1237 non-null object
OWNER                         1330 non-null object
Offsite Storage               11 non-null object
Offsite Storage               0 non-null float64
PARISH                        57 non-null object
PROSPECT                      671 non-null object
PROSPECT/DESCRIPT.            21 non-null object
REMARKS                       307 non-null object
SHRED                         16 non-null object
ST                            1421 non-null object
Sagar's Comments              8 non-null object
Sagar’s Comments              85 non-null object
Sell (Y/N)                    0 non-null float64
Storage Downstairs            2 non-null object
Unnamed: 15                   0 non-null float64
Unnamed: 34                   0 non-null float64
Unnamed: 35                   9 non-null object
Unnamed: 36                   9 non-null object
Unnamed: 37                   9 non-null datetime64[ns]
Unnamed: 38                   9 non-null float64
Unnamed: 39                   9 non-null float64
Unnamed: 40                   9 non-null float64
Unnamed: 41                   9 non-null float64
Unnamed: 42                   9 non-null float64
Unnamed: 43                   9 non-null float64
Unnamed: 44                   9 non-null float64
Unnamed: 45                   9 non-null float64
Unnamed: 46                   9 non-null float64
Unnamed: 47                   9 non-null float64
Unnamed: 48                   9 non-null float64
Unnamed: 49                   9 non-null float64
Unnamed: 50                   9 non-null float64
Unnamed: 51                   9 non-null object
Unnamed: 52                   9 non-null object
dtypes: datetime64[ns](1), float64(18), object(50)
memory usage: 777.1+ KB

## Cleaning and Dropping Columns

In [9]:
mergedDF[~mergedDF['Column1'].isna()]

,API,API Number,Anish’s Comments,CLOSED MEMO TO OFFICE/FILE,COUNTY,Column1,Column10,Column11,Column12,Column13,...,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52
1,NaN,3.5e+09,NaN,NaN,ALFALFA,Acct,LOE,IDC,LWE,Total2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,3.5e+09,NaN,NaN,BEAVER,UNT002,1.3e+03,0,0,1.3e+03,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,3.5e+09,NaN,NaN,BEAVER,UNT002,9.5e+02,0,0,9.5e+02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,3.5e+09,NaN,NaN,BEAVER,UNT002,3e+02,0,0,3e+02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,BECKHAM,UNT002,2.9e+02,0,0,2.9e+02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,BLAINE,UNT002,3.2e+02,0,0,3.2e+02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,ELLIS,CPO035,58,0,0,58,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,3.5e+09,NaN,NaN,ELLIS,CPO035,51,0,0,51,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,3.5e+09,NaN,NaN,ELLIS,CPO035,1.1e+02,0,0,1.1e+02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,3.5e+09,NaN,NaN,ELLIS,CPO035,78,0,0,78,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,3.5e+09,NaN,NaN,ELLIS,MEW001,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,NaN,NaN,NaN,NaN,ELLIS,MEW001,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,NaN,GARFIELD,MEW001,0,0,0,0,...,26.10,0.00,0.0,0.0,0.00,26.10,0.0,21.64,GARFIELD,OK
36,NaN,3.5e+09,NaN,NaN,GARFIELD,MEW001,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,NaN,3.5e+09,NaN,NaN,GARFIELD,MEW001,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,NaN,NaN,NaN,NaN,GARVIN,PPL002,4.6,0,0,4.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,NaN,NaN,NaN,NaN,GRADY,PPL002,4.1,0,0,4.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,NaN,3.5e+09,NaN,NaN,GRADY,PPL002,3.4,0,0,3.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,NaN,3.5e+09,NaN,NaN,GRANT,PPL002,3.4,0,0,3.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,NaN,HUGHES,PPL002,4.6,0,0,4.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,NaN,NaN,NaN,NaN,LOGAN,PPL002,4,0,0,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,NaN,NaN,NaN,NaN,ROGER MILLS,CEP001,7.7e+02,0,0,7.7e+02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,NaN,3.5e+09,NaN,NaN,ROGER MILLS,CEP001,4e+02,0,0,4e+02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,NaN,3.5e+09,NaN,NaN,ROGER MILLS,CEP001,6.9e+02,0,0,6.9e+02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,NaN,NaN,NaN,NaN,ROGER MILLS,CEP001,2.3e+02,0,0,2.3e+02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,NaN,NaN,NaN,NaN,ROGER MILLS,CEP002,2.5,0,0,2.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,NaN,NaN,NaN,NaN,STEPHENS,CEP002,2.1,0,0,2.1,...,18.67,59.07,0.0,0.0,59.07,-40.40,0.0,8.53,STEPHENS,OK
50,NaN,3.5e+09,NaN,NaN,STEPHENS,CEP002,4.1,0,0,4.1,...,39.09,79.63,0.0,0.0,79.63,-40.54,0.0,22.41,STEPHENS,OK
51,NaN,3.5e+09,NaN,NaN,STEPHENS,CEP002,4.2,0,0,4.2,...,212.87,149.28,0.0,0.0,149.28,63.59,0.0,94.29,STEPHENS,OK
63,NaN,3.5e+09,NaN,NaN,WOODS,CHS008,3.2e+02,0,0,3.2e+02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,NaN,3.5e+09,NaN,NaN,WOODS,CHS008,6.4e+02,0,0,6.4e+02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,NaN,NaN,NaN,NaN,WOODWARD,CHS011,6.8,0,0,6.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,NaN,3.5e+09,NaN,NaN,WOODWARD,CHS011,0.37,0,0,0.37,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,NaN,NaN,NaN,NaN,NaN,CHS011,21,0,0,21,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,NaN,NaN,NaN,NaN,NaN,CHS011,18,0,0,18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,NaN,NaN,NaN,NaN,NaN,CHS011,17,0,0,17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,NaN,NaN,NaN,NaN,NaN,CHS011,16,0,0,16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
mergedDF.count()

API                              3
API Number                     328
Anish’s Comments               123
CLOSED MEMO TO OFFICE/FILE      11
COUNTY                        1342
Column1                         37
Column10                        37
Column11                        37
Column12                        37
Column13                        37
Column14                        37
Column15                        37
Column16                        37
Column17                        37
Column18                        37
Column2                         37
Column3                         37
Column4                         37
Column5                         37
Column6                         37
Column7                         37
Column8                         37
Column9                         37
Comments                        85
FILE NAME                     1404
FILE TYPE                     1345
INTEREST                       178
INTEREST %                     107
KEEP                            21
KEEP/STORE                     147
                              ...
PARISH                          57
PROSPECT                       671
PROSPECT/DESCRIPT.              21
REMARKS                        307
SHRED                           16
ST                            1421
Sagar's Comments                 8
Sagar’s Comments                85
Sell (Y/N)                       0
Storage Downstairs               2
Unnamed: 15                      0
Unnamed: 34                      0
Unnamed: 35                      9
Unnamed: 36                      9
Unnamed: 37                      9
Unnamed: 38                      9
Unnamed: 39                      9
Unnamed: 40                      9
Unnamed: 41                      9
Unnamed: 42                      9
Unnamed: 43                      9
Unnamed: 44                      9
Unnamed: 45                      9
Unnamed: 46                      9
Unnamed: 47                      9
Unnamed: 48                      9
Unnamed: 49                      9
Unnamed: 50                      9
Unnamed: 51                      9
Unnamed: 52                      9
Length: 69, dtype: int64

### Defining function to handle dropping multiple columns

In [11]:
def ColumnDropbyName(colname, *dropnames):
    '''
        This function expect a column names to be passed in to be dropped under args dropnames
        The colname will be the column in a dataframe that dropnames will be compared to for partial match
    '''
    for dropname in dropnames:
        if dropname.lower() in colname.lower():
            return True
        
    return False

#test function
ColumnDropbyName("Column1", "Column")
ColumnDropbyName("Unnamed", "Unna")
ColumnDropbyName("API", "high")

True

True

False

In [12]:
#applying function to get column names to drop
colsToDrop = (list(filter(lambda x: ColumnDropbyName(x, 'Column', 'Unnamed'), mergedDF.columns)))
colsToDrop

['Column1',
 'Column10',
 'Column11',
 'Column12',
 'Column13',
 'Column14',
 'Column15',
 'Column16',
 'Column17',
 'Column18',
 'Column2',
 'Column3',
 'Column4',
 'Column5',
 'Column6',
 'Column7',
 'Column8',
 'Column9',
 'Unnamed: 15',
 'Unnamed: 34',
 'Unnamed: 35',
 'Unnamed: 36',
 'Unnamed: 37',
 'Unnamed: 38',
 'Unnamed: 39',
 'Unnamed: 40',
 'Unnamed: 41',
 'Unnamed: 42',
 'Unnamed: 43',
 'Unnamed: 44',
 'Unnamed: 45',
 'Unnamed: 46',
 'Unnamed: 47',
 'Unnamed: 48',
 'Unnamed: 49',
 'Unnamed: 50',
 'Unnamed: 51',
 'Unnamed: 52']

### Dropping columns with function found column names and manually inspected column names

In [13]:
pd.options.display.max_columns = 100
mergedDF.drop(columns = colsToDrop, inplace = True)

In [14]:
#dropping column with no nonnull values in offsite storage 
mergedDF.drop(columns = "Offsite Storage ", inplace = True)

In [15]:
mergedDF.head()

,API,API Number,Anish’s Comments,CLOSED MEMO TO OFFICE/FILE,COUNTY,Comments,FILE NAME,FILE TYPE,INTEREST,INTEREST %,KEEP,KEEP/STORE,Mishaun Notes on Well,Notes on the Well,OPEN DATE,OPEN MEMO TO OFFICE/FILE,OPENED,OPERATOR,OWNER,Offsite Storage,PARISH,PROSPECT,PROSPECT/DESCRIPT.,REMARKS,SHRED,ST,Sagar's Comments,Sagar’s Comments,Sell (Y/N),Storage Downstairs
0,NaN,4212300017,Active,NaN,DEWITT,NaN,HENSON GU #1,WELL,NaN,NaN,NaN,keep,Already decided to keep,NaN,NaN,NaN,NaN,ABRAXAS (Current Operator: Atlas),MPLP,NaN,NaN,NaN,NaN,NaN,NaN,Texas,NaN,NaN,NaN,NaN
1,NaN,NaN,Well not found,NaN,DEWITT,NaN,HENSON GU #2H,WELL,NaN,NaN,NaN,keep,Already decided to keep,NaN,NaN,NaN,NaN,ABRAXAS,MPLP,NaN,NaN,NaN,NaN,NaN,NaN,Texas,NaN,NaN,NaN,NaN
2,NaN,NaN,Well not found,NaN,DEWITT,NaN,HENSON GU #3H,ORRI,NaN,NaN,NaN,keep,Already decided to keep,NaN,NaN,NaN,NaN,ABRAXAS,MPLP,NaN,NaN,NaN,NaN,NaN,NaN,Texas,NaN,NaN,NaN,NaN
3,NaN,4208932360,Inactive since 12/2011,NaN,COLORADO,NaN,LUCKETT #1,LAND / WELL / LOG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ACOCK-ANAQUA (Current Operator: Magnum Producing),R & R,NaN,NaN,NaN,NaN,OPERATED BY MAGNUM EFFECTIVE 7/09,NaN,Texas,NaN,NaN,NaN,NaN
4,NaN,4224532445,Active,NaN,JEFFERSON,NaN,"PETKOVSEK, LOLIA. ET AL #1",WELL,NaN,NaN,NaN,NaN,NaN,NaN,7/1/2012 km,Aspect Former Operator,NaN,ALEGRE ENERGY (Current Op: S&S),MPLP,NaN,NaN,NaN,NaN,NaN,NaN,Texas,NaN,NaN,NaN,NaN

In [16]:
mergedDF.to_excel('Test_merges/testMerge2.xlsx') # Saving file for manual Inspection

In [17]:
#inspecting columns and how many nonnull values they have
mergedDF.count()

API                              3
API Number                     328
Anish’s Comments               123
CLOSED MEMO TO OFFICE/FILE      11
COUNTY                        1342
Comments                        85
FILE NAME                     1404
FILE TYPE                     1345
INTEREST                       178
INTEREST %                     107
KEEP                            21
KEEP/STORE                     147
Mishaun Notes on Well          178
Notes on the Well               55
OPEN DATE                      470
OPEN MEMO TO OFFICE/FILE        51
OPENED                          29
OPERATOR                      1237
OWNER                         1330
Offsite Storage                 11
PARISH                          57
PROSPECT                       671
PROSPECT/DESCRIPT.              21
REMARKS                        307
SHRED                           16
ST                            1421
Sagar's Comments                 8
Sagar’s Comments                85
Sell (Y/N)                       0
Storage Downstairs               2
dtype: int64

### Dropping blank rows after manually inspecting table in excel

In [18]:
mergedDF.dropna(how='all').shape
mergedDF.shape

#dropping empty rows
mergedDF.dropna(how="all", inplace = True)

(1421, 30)

(1421, 30)

### Cleaning up column names that are troublesome due to apostrophies and duplicates

In [19]:
mergedDF.rename(columns = {"Sagar's Comments": "Sagar First Duplicate"}, inplace = True)

In [20]:
mergedDF.rename(columns = {"Sagar’s Comments": "Sagar Second Duplicate"}, inplace = True)

In [21]:
mergedDF.head()

,API,API Number,Anish’s Comments,CLOSED MEMO TO OFFICE/FILE,COUNTY,Comments,FILE NAME,FILE TYPE,INTEREST,INTEREST %,KEEP,KEEP/STORE,Mishaun Notes on Well,Notes on the Well,OPEN DATE,OPEN MEMO TO OFFICE/FILE,OPENED,OPERATOR,OWNER,Offsite Storage,PARISH,PROSPECT,PROSPECT/DESCRIPT.,REMARKS,SHRED,ST,Sagar First Duplicate,Sagar Second Duplicate,Sell (Y/N),Storage Downstairs
0,NaN,4212300017,Active,NaN,DEWITT,NaN,HENSON GU #1,WELL,NaN,NaN,NaN,keep,Already decided to keep,NaN,NaN,NaN,NaN,ABRAXAS (Current Operator: Atlas),MPLP,NaN,NaN,NaN,NaN,NaN,NaN,Texas,NaN,NaN,NaN,NaN
1,NaN,NaN,Well not found,NaN,DEWITT,NaN,HENSON GU #2H,WELL,NaN,NaN,NaN,keep,Already decided to keep,NaN,NaN,NaN,NaN,ABRAXAS,MPLP,NaN,NaN,NaN,NaN,NaN,NaN,Texas,NaN,NaN,NaN,NaN
2,NaN,NaN,Well not found,NaN,DEWITT,NaN,HENSON GU #3H,ORRI,NaN,NaN,NaN,keep,Already decided to keep,NaN,NaN,NaN,NaN,ABRAXAS,MPLP,NaN,NaN,NaN,NaN,NaN,NaN,Texas,NaN,NaN,NaN,NaN
3,NaN,4208932360,Inactive since 12/2011,NaN,COLORADO,NaN,LUCKETT #1,LAND / WELL / LOG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ACOCK-ANAQUA (Current Operator: Magnum Producing),R & R,NaN,NaN,NaN,NaN,OPERATED BY MAGNUM EFFECTIVE 7/09,NaN,Texas,NaN,NaN,NaN,NaN
4,NaN,4224532445,Active,NaN,JEFFERSON,NaN,"PETKOVSEK, LOLIA. ET AL #1",WELL,NaN,NaN,NaN,NaN,NaN,NaN,7/1/2012 km,Aspect Former Operator,NaN,ALEGRE ENERGY (Current Op: S&S),MPLP,NaN,NaN,NaN,NaN,NaN,NaN,Texas,NaN,NaN,NaN,NaN

### Saving cleaned up columns and column names to file

In [22]:
#this file will be a good place to reopen dataframe for merging identical fields
mergedDF.to_excel('Test_merges/Checkpoint.xlsx', index = False)

## Merging Identical Fields with Different Column Names

In [23]:
#read in file from checkpoint
mergedDF = pd.read_excel("Test_merges/Checkpoint.xlsx")
mergedDF.head()

,API,API Number,Anish’s Comments,CLOSED MEMO TO OFFICE/FILE,COUNTY,Comments,FILE NAME,FILE TYPE,INTEREST,INTEREST %,KEEP,KEEP/STORE,Mishaun Notes on Well,Notes on the Well,OPEN DATE,OPEN MEMO TO OFFICE/FILE,OPENED,OPERATOR,OWNER,Offsite Storage,PARISH,PROSPECT,PROSPECT/DESCRIPT.,REMARKS,SHRED,ST,Sagar First Duplicate,Sagar Second Duplicate,Sell (Y/N),Storage Downstairs
0,NaN,4212300017,Active,NaN,DEWITT,NaN,HENSON GU #1,WELL,NaN,NaN,NaN,keep,Already decided to keep,NaN,NaN,NaN,NaN,ABRAXAS (Current Operator: Atlas),MPLP,NaN,NaN,NaN,NaN,NaN,NaN,Texas,NaN,NaN,NaN,NaN
1,NaN,NaN,Well not found,NaN,DEWITT,NaN,HENSON GU #2H,WELL,NaN,NaN,NaN,keep,Already decided to keep,NaN,NaN,NaN,NaN,ABRAXAS,MPLP,NaN,NaN,NaN,NaN,NaN,NaN,Texas,NaN,NaN,NaN,NaN
2,NaN,NaN,Well not found,NaN,DEWITT,NaN,HENSON GU #3H,ORRI,NaN,NaN,NaN,keep,Already decided to keep,NaN,NaN,NaN,NaN,ABRAXAS,MPLP,NaN,NaN,NaN,NaN,NaN,NaN,Texas,NaN,NaN,NaN,NaN
3,NaN,4208932360,Inactive since 12/2011,NaN,COLORADO,NaN,LUCKETT #1,LAND / WELL / LOG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ACOCK-ANAQUA (Current Operator: Magnum Producing),R & R,NaN,NaN,NaN,NaN,OPERATED BY MAGNUM EFFECTIVE 7/09,NaN,Texas,NaN,NaN,NaN,NaN
4,NaN,4224532445,Active,NaN,JEFFERSON,NaN,"PETKOVSEK, LOLIA. ET AL #1",WELL,NaN,NaN,NaN,NaN,NaN,NaN,7/1/2012 km,Aspect Former Operator,NaN,ALEGRE ENERGY (Current Op: S&S),MPLP,NaN,NaN,NaN,NaN,NaN,NaN,Texas,NaN,NaN,NaN,NaN

### API Merging

In [24]:
#filling in blank strings for nulls, converting to strings, and concatenating together 
mergedDF["API/UWI"] = mergedDF["API"].fillna(value='').astype(str) + mergedDF["API Number"].fillna('').astype(str)
mergedDF["API/UWI"] = mergedDF["API/UWI"].apply(lambda x: x.split('.')[0]) #removing decimals from string, created from export to excel

In [25]:
mergedDF.drop(columns=["API", "API Number"], inplace = True)

## Merging Notes, Interest Fields, Keep/NotKeep

In [26]:
def MergeColsbyName(dataframe, *columnstomerge, mergedColName):
    
    '''
    Columns to merge must be passed in as a list
    
    This function will take in a pandas dataframe, columns to merge, and an ouput column name after the merge
    It will then merge the columns together by concatenating values as text
    If there are multiple columns with nonnull values, the values will be concatenated with a pipe | symbol
    If there is just 1 column with non null values, columns will be concatenated with a blank space
    The columns that were merged will then be dropped from the dataframe and the dataframe will be returned
    
    '''

    columnstomerge = columnstomerge[0]
    
    #reference to how to use apply on multiple columns https://stackoverflow.com/questions/39291499/how-to-concatenate-multiple-column-values-into-a-single-column-in-panda-datafram
    # This lambda function will join columns that are selected together 
    # conditional statements direct that if there is only 1 non null field, merge with blank string ->
    # else, if there are more than 1 non null field, merge values together with a pipe | symbol
    dataframe[mergedColName] = dataframe[columnstomerge].apply(lambda row: ''.join(row.fillna('').values.astype(str)) if row.count()<2 else ' | '.join(row.fillna('').values.astype(str)), axis=1)
    
    #dropping columns after merging
    dataframe.drop(columns = columnstomerge, inplace = True)
    
    return dataframe

### Create dictionary manually to decide columns to be merged based on similarity - Create Output Names

In [27]:
#dictionary to hold info on merging columns and their output column name
ColsMergeDict = {
    "INTEREST (WI,ORRI, ETC)": ["INTEREST", "INTEREST %"], 
    "KEEP/SHRED": ["KEEP","KEEP/STORE", "SHRED"], 
    "COUNTY/PARISH": ["COUNTY", "PARISH"], 
    "Sagar": ["Sagar First Duplicate", "Sagar Second Duplicate"], #merging sagar's comments first then merging at end, it will work due to the choronology of the loop
    "STORAGE LOCATION": ["Storage Downstairs", "Offsite Storage"], 
    "DATE OPENED": ["OPENED", "OPEN DATE"],
    "COMMENTS/NOTES": ["Anish’s Comments", "Mishaun Notes on Well", "Notes on the Well", "Comments", "REMARKS", "Sagar"] 
}

### Executing function, looping through all items in dictionary

In [28]:
for outputcol, mergecols in ColsMergeDict.items():
    mergedDF = MergeColsbyName(mergedDF, mergecols, mergedColName=outputcol)

In [29]:
mergedDF.columns

Index(['CLOSED MEMO TO OFFICE/FILE', 'FILE NAME', 'FILE TYPE',
       'OPEN MEMO TO OFFICE/FILE', 'OPERATOR', 'OWNER', 'PROSPECT',
       'PROSPECT/DESCRIPT.', 'ST', 'Sell (Y/N)', 'API/UWI',
       'INTEREST (WI,ORRI, ETC)', 'KEEP/SHRED', 'COUNTY/PARISH',
       'STORAGE LOCATION', 'DATE OPENED', 'COMMENTS/NOTES'],
      dtype='object')

## Cleaning Text in Comments Section with Regex

In [30]:
import re

In [31]:
sampleString = mergedDF["COMMENTS/NOTES"].iloc[0]
sampleString

'Active | Already decided to keep |  |  |  | '

In [32]:
pattern = '  \|'

In [33]:
re.sub(pattern, '', sampleString).rstrip()

'Active | Already decided to keep |'

In [34]:
mergedDF["COMMENTS/NOTES"] = mergedDF["COMMENTS/NOTES"].apply(lambda x: re.sub(pattern, '', x).rstrip())

In [35]:
mergedDF.head(5)

,CLOSED MEMO TO OFFICE/FILE,FILE NAME,FILE TYPE,OPEN MEMO TO OFFICE/FILE,OPERATOR,OWNER,PROSPECT,PROSPECT/DESCRIPT.,ST,Sell (Y/N),API/UWI,"INTEREST (WI,ORRI, ETC)",KEEP/SHRED,COUNTY/PARISH,STORAGE LOCATION,DATE OPENED,COMMENTS/NOTES
0,NaN,HENSON GU #1,WELL,NaN,ABRAXAS (Current Operator: Atlas),MPLP,NaN,NaN,Texas,NaN,4212300017,,keep,DEWITT,,,Active | Already decided to keep |
1,NaN,HENSON GU #2H,WELL,NaN,ABRAXAS,MPLP,NaN,NaN,Texas,NaN,,,keep,DEWITT,,,Well not found | Already decided to keep |
2,NaN,HENSON GU #3H,ORRI,NaN,ABRAXAS,MPLP,NaN,NaN,Texas,NaN,,,keep,DEWITT,,,Well not found | Already decided to keep |
3,NaN,LUCKETT #1,LAND / WELL / LOG,NaN,ACOCK-ANAQUA (Current Operator: Magnum Producing),R & R,NaN,NaN,Texas,NaN,4208932360,,,COLORADO,,,Inactive since 12/2011 | OPERATED BY MAGNUM EF...
4,NaN,"PETKOVSEK, LOLIA. ET AL #1",WELL,Aspect Former Operator,ALEGRE ENERGY (Current Op: S&S),MPLP,NaN,NaN,Texas,NaN,4224532445,,,JEFFERSON,,7/1/2012 km,Active |

## Reordering Data Table and Exporting

In [36]:
mergedDF.count()

CLOSED MEMO TO OFFICE/FILE      11
FILE NAME                     1404
FILE TYPE                     1345
OPEN MEMO TO OFFICE/FILE        51
OPERATOR                      1237
OWNER                         1330
PROSPECT                       671
PROSPECT/DESCRIPT.              21
ST                            1421
Sell (Y/N)                       0
API/UWI                       1421
INTEREST (WI,ORRI, ETC)       1421
KEEP/SHRED                    1421
COUNTY/PARISH                 1421
STORAGE LOCATION              1421
DATE OPENED                   1421
COMMENTS/NOTES                1421
dtype: int64

In [37]:
columnOrder = [
    'API/UWI',
    'FILE NAME', 
    'FILE TYPE', 
    'OPERATOR',
    'COUNTY/PARISH',
    'ST',
    'PROSPECT',
    'PROSPECT/DESCRIPT.', 
    'COMMENTS/NOTES',
    'KEEP/SHRED',
    'Sell (Y/N)',
    'INTEREST (WI,ORRI, ETC)',
    'OWNER', 
    'OPEN MEMO TO OFFICE/FILE',  
    'CLOSED MEMO TO OFFICE/FILE', 
    'STORAGE LOCATION', 
]

In [38]:
mergedDF = mergedDF[columnOrder]
mergedDF.head()

,API/UWI,FILE NAME,FILE TYPE,OPERATOR,COUNTY/PARISH,ST,PROSPECT,PROSPECT/DESCRIPT.,COMMENTS/NOTES,KEEP/SHRED,Sell (Y/N),"INTEREST (WI,ORRI, ETC)",OWNER,OPEN MEMO TO OFFICE/FILE,CLOSED MEMO TO OFFICE/FILE,STORAGE LOCATION
0,4212300017,HENSON GU #1,WELL,ABRAXAS (Current Operator: Atlas),DEWITT,Texas,NaN,NaN,Active | Already decided to keep |,keep,NaN,,MPLP,NaN,NaN,
1,,HENSON GU #2H,WELL,ABRAXAS,DEWITT,Texas,NaN,NaN,Well not found | Already decided to keep |,keep,NaN,,MPLP,NaN,NaN,
2,,HENSON GU #3H,ORRI,ABRAXAS,DEWITT,Texas,NaN,NaN,Well not found | Already decided to keep |,keep,NaN,,MPLP,NaN,NaN,
3,4208932360,LUCKETT #1,LAND / WELL / LOG,ACOCK-ANAQUA (Current Operator: Magnum Producing),COLORADO,Texas,NaN,NaN,Inactive since 12/2011 | OPERATED BY MAGNUM EF...,,NaN,,R & R,NaN,NaN,
4,4224532445,"PETKOVSEK, LOLIA. ET AL #1",WELL,ALEGRE ENERGY (Current Op: S&S),JEFFERSON,Texas,NaN,NaN,Active |,,NaN,,MPLP,Aspect Former Operator,NaN,

In [42]:
mergedDF[mergedDF["FILE NAME"].isna()]

,API/UWI,FILE NAME,FILE TYPE,OPERATOR,COUNTY/PARISH,ST,PROSPECT,PROSPECT/DESCRIPT.,COMMENTS/NOTES,KEEP/SHRED,Sell (Y/N),"INTEREST (WI,ORRI, ETC)",OWNER,OPEN MEMO TO OFFICE/FILE,CLOSED MEMO TO OFFICE/FILE,STORAGE LOCATION
1177,,NaN,LEASE EXPIRED JULY 2010,NaN,CUSTER,Oklahoma,S5 T15N R14W-BLM LEASE,NaN,,,NaN,,R&R,NaN,NaN,
1225,,NaN,NaN,NaN,,Oklahoma,NaN,NaN,,,NaN,,NaN,NaN,NaN,
1226,,NaN,NaN,NaN,,Oklahoma,NaN,NaN,,,NaN,,NaN,NaN,NaN,
1227,,NaN,NaN,NaN,,Oklahoma,NaN,NaN,,,NaN,,NaN,NaN,NaN,
1228,,NaN,NaN,NaN,,Oklahoma,NaN,NaN,,,NaN,,NaN,NaN,NaN,
1311,,NaN,NaN,NaN,,Alabama,NaN,NaN,,,NaN,,NaN,NaN,NaN,
1378,,NaN,NaN,NaN,,North Dakota,NaN,NaN,,,NaN,,NaN,NaN,NaN,
1383,,NaN,NaN,NaN,,North Dakota,NaN,NaN,,,NaN,,NaN,NaN,NaN,
1385,,NaN,NaN,NaN,,Montana,NaN,NaN,,,NaN,,NaN,NaN,NaN,
1411,4900574403,NaN,WELL,PINE HAVEN,,Wyoming,NaN,NaN,Permitted,,NaN,,NaN,NaN,NaN,
1412,4900574397,NaN,WELL,PINE HAVEN,,Wyoming,NaN,NaN,Permitted,,NaN,,NaN,NaN,NaN,
1413,4900574391,NaN,WELL,PINE HAVEN,,Wyoming,NaN,NaN,Permitted,,NaN,,NaN,NaN,NaN,
1414,4900574416,NaN,WELL,PINE HAVEN,,Wyoming,NaN,NaN,Permitted,,NaN,,NaN,NaN,NaN,
1415,4900574411,NaN,WELL,PINE HAVEN,,Wyoming,NaN,NaN,Permitted,,NaN,,NaN,NaN,NaN,
1416,4900574424,NaN,WELL,PINE HAVEN,,Wyoming,NaN,NaN,Permitted,,NaN,,NaN,NaN,NaN,
1417,4900570979,NaN,WELL,PINE HAVEN,,Wyoming,NaN,NaN,Expired Permit,,NaN,,NaN,NaN,NaN,
1418,4900570971,NaN,WELL,PINE HAVEN,,Wyoming,NaN,NaN,Expired Permit,,NaN,,NaN,NaN,NaN,

In [ ]:
YorN = input("Are you sure you want to run this line, it will replace any changes made in excel to final cleaned version (y/n): ")

if YorN.upper() == "Y":
    mergedDF.to_excel("Cleaned & Merged OBO List.xlsx", index = False, sheet_name="NonOp Master")
else:
    print("file was not exported")